.table > thead > tr >th{
    background-color: #315951E5 !important;
    opacity: 90% !important;
    padding: 15px 0px 15px 10px !important ;
}
.border-bottom-width{
    border: none !important;

}
th{
    color:  white !important;
    text-align: left !important;

    font-weight: 400 !important;

}
.table > tbody > tr >td{
padding:15px 10px 7px 10px !important;
font-size: 14px !important;
color: #4F4F4F !important;

}
.table > tbody > tr:nth-child(even) > td, .table > tbody > tr:nth-child(even) > th {
    background-color:#F8F9FB !important;
    
 }

table, tr, td, th {
      border: none !important;
  }

.fa-search{
    color: #4F4F4F !important;

}
.gray{
    color: #AAAAAA !important;
}



.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    color: black !important;
    
}
.form-control {
    color: black !important;
}

.Pagination{
    flex-wrap: wrap !important;
}
select > option{
    color: #4F4F4F !important;

}

.page-link {
  color: #0E382F !important;
  cursor: pointer !important;
}