.modal-header {
  border-bottom: none;
}
.modal-header .btn-close {
  transition: 0.5s all;
  background: url("../../../../assets/close-modal-btn.png") !important;
}
.modal-body img {
  width: 400px;
}
.custom-modal-backdrop {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
