@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: "Montserrat", sans-serif !important;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.3s all;
}

.landing-page {
  height: 100vh;
  background-image: url("./assets/first-page.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden  !important;

  a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    transition: 0.3s all;
  }

  a:hover {
    text-decoration: none;
    color: #ef9b28;
    font-size: 24px;
  }
}

.form-layout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;

  a {
    text-decoration: none;
    color: white;

    transition: 0.3s all;
  }

  a:hover {
    color: #ef9b28 !important;
  }
}
/* padding size change  */
.form-layout-card {
  background-color: rgba(49, 89, 81, 0.9);
  padding: 35px 70px !important;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  width: 100%;
}
/* font size change  */
.form-layout-title {
  font-size: 24px;
  color: #ef9b28;
  position: relative;
}

.form-layout-title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #ef9b28;
  height: 5px;
  width: 18px;
}
/*font size change*/
.form-layout-description {
  margin-bottom: 0 !important;
  font-size: 15px;
}

.form-layout-button {
  display: block;
  width: 100%;
  padding: 15px 0px !important;
  background-color: #ef9b28 !important;
  color: #fff;
  text-decoration: none;
  border-radius: 25px !important;
  border: none !important;
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  transition: 0.3s all;
}

.form-layout-button:hover {
  background-color: #df860a !important;
}

/* font size change */

.form-control {
  border: none !important;
  background-color: transparent !important;
  padding: 0px !important;
  color: white !important;
  border-radius: 0px !important;
  font-size: 15px !important;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: transparent !important;
  outline: none !important;
}

/* padding  change */

.input-section {
  border-bottom: 1px solid gray !important;
  padding: 0px 0px 5px 0px;
}

.form-control::placeholder {
  color: rgb(165, 165, 165) !important;
}

.form-label {
  color: #ef9b28 !important;
}

.input-group-text {
  background-color: transparent !important;
  border: none !important;
  color: white !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.bg-main {
  background-color: rgba(239, 155, 40, 1) !important;
}
/*--------------side bar------------*/
.css-wx7wi4{
  
.btn-side{
  right: -16px;
  top: -70px;
  cursor: pointer;
  /* transition: all 0.3s !important; */
}
.collapse-btn {
  transform: translateX(31px) !important;
  padding: 10px;
   background: #f09a22;
   cursor: pointer;
   border-top-right-radius: 8px 8px;
   border-bottom-right-radius: 8px 8px;
 }
 .out-btn {
  padding: 10px; 
   background: #f09a22;
   cursor: pointer;
   border-top-left-radius: 8px 8px;
   border-bottom-left-radius: 8px 8px;
  }
.css-dip3t8{
 overflow-y:visible !important ;
 overflow-x: visible !important;
 background-color: transparent !important;
}
.firstIcon-sidebar{
  background-color: transparent !important;

}
.css-1wvake5{
border-right-style:none !important;
}
.home-sidebar{
margin-top:80px !important;
}


.bg-sidebar{
  background-color: #0e382f !important;
  font-size: large;
}
.bg-sidebar,.ps-menu-button {
  color: white;
}
.ps-menu-root{
  background-color: #0e382f !important;
}
.ps-menu-button .active {
  background-color: #EF9B284D !important;
  color: #ef9b28 !important;

}

.bg-sidebar .ps-menu-button:hover {
  background-color: #EF9B284D !important;
  color: #ef9b28;
}

.css-gailc7 >.ps-menu-button.active {
border-left: 5px solid #ef9b28 !important;
}
/* .side .side-bar-container .ps-menuitem-root 
 */

/*New size*/
.logo-form-container img {
  width: 200px !important;
}
/* Style fix for auto complete inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #ffffff !important;
  border-radius: 8px; /* Adjust as needed */
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent !important;
}

/*--------Navbar---------*/

.dropdown-menu {
  transform: translateX(-160px) !important;
  color: #A7A7A7 !important;
  
}
.img-user{
  width: 50px !important;
}
/* #dropdown-basic{
  background-color: transparent !important;
  border: none !important;
  color: #A7A7A7;
 margin-top: 7px !important;
 font-size: 20px;
} */
.dropdown-item{
  color: #0E382F !important;

}
.ImgNavbar{
   cursor: pointer;
}
.light-text{
  color: rgba(0, 0, 0, 0.37);
  opacity: 73%;
  
}

/*reset*/
button:disabled {
  background-color: #e6b168 !important;
  border-color: #e6b168 !important;
}
button:disabled:hover {
  background-color: #e6b168 !important;
  border-color: #e6b168 !important;
}
.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.btn-eye {
  color: white !important;
  border: none;
  background-color: transparent;
  padding: 0 !important;
  margin: 0 !important;
}
.input-group-text {
  border: none;
  box-shadow: none !important;
  /* outline: #414141 !important; */
  border-radius: 5px !important;
}
.input-group-text:focus {
  outline: 1px solid #fff !important;
}
.banner-container {
  font-family: "Montserrat", sans-serif !important;
  font-style: normal;
  padding: 40px 25px;
  color: white;
  background-image: url("./assets//home-bg.png");
  background-repeat: no-repeat;
  height: 350px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-position: center;
  gap: 30px;
  justify-content: center;
  border-radius: 20px;
  h1 {
    font-weight: 400 !important;
  }
  h2 {
    font-weight: 400 !important;
  }
  span {
    color: #ef9b28;
    text-transform: capitalize;
  }
}

/* ----media-screen---- */
@media screen and (max-width:600px){
  .dropdown-menu {
    transform: translateX(0) !important;
  width:75% ;
    
  }
  .nav-item {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }

  .navbar-toggler{
    margin-left: 20px;
    
  }
.navbarNavDropdown{
  width: 75%;
}
}
  @media screen and (min-width:610px) and (max-width:768px){

    .dropdown-menu {
      transform: translateX(0) !important;
      width:75% ;
    }
    .nav-item {
      margin-top: 5px !important;
      margin-bottom: 5px !important;
    }
    .navbar-toggler{
      margin-left: 20px;
    }
    .navbarNavDropdown{
      width: 75%;
    }
  }
  @media screen and (min-width:769px) and (max-width:992px){
  
    .dropdown-menu {
      transform: translateX(0) !important;
      margin-right: 10px;
    }
    .nav-item {
      margin-top: 5px !important;
      margin-bottom: 5px !important;
      font-size: 14px !important;
    } 
    .dropdown-item{
      font-size: 14px !important;
     
    }
    .navbar-toggler{
      margin-left: 30px;
    }

  }
