@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif !important;
  background-color: #f5f5f5 !important;
}

.dark {
  --bg-main: black;
}

.light {
  --main: white;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.3s all;
}

.landing-page {
  height: 100vh;
  background-image: url("./assets/first-page.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  overflow: hidden !important;

  a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    transition: 0.3s all;
  }

  a:hover {
    text-decoration: none;
    color: #ef9b28;
    font-size: 24px;
  }
}

.form-layout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;

  a {
    text-decoration: none;
    color: white;

    transition: 0.3s all;
  }

  a:hover {
    color: #ef9b28 !important;
  }
}

/* padding size change  */
.form-layout-card {
  background-color: rgba(49, 89, 81, 0.9);
  padding: 35px 70px !important;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  width: 100%;
}

/* font size change  */
.form-layout-title {
  font-size: 24px;
  color: #ef9b28;
  position: relative;
}

.form-layout-title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #ef9b28;
  height: 5px;
  width: 18px;
}

/*font size change*/
.form-layout-description {
  margin-bottom: 0 !important;
  font-size: 15px;
}

.form-layout-button {
  display: block;
  width: 100%;
  padding: 15px 0px !important;
  background-color: #ef9b28 !important;
  color: #fff;
  text-decoration: none;
  border-radius: 25px !important;
  border: none !important;
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  transition: 0.3s all;
}

.form-layout-button:hover {
  background-color: #df860a !important;
}

.btn-warning.btn-add, .btn-warning.Save {
  background-color: #ef9b28 !important;
  border-color: #ef9b28 !important;
}

.btn-warning.btn-add:hover, .btn-warning.Save:hover {
  background-color: #df860a !important;
  border-color: #df860a !important;
}

/* font size change */

.form-control {
  border: none !important;
  background-color: transparent !important;
  padding: 0px !important;
  color: white !important;
  border-radius: 0px !important;
  font-size: 15px !important;
}

.form-control:focus {
  box-shadow: none !important;
}

.form-control .select {
  border: 1px solid #a7a7a7 !important;
  background-color: transparent !important;
  padding: 5px !important;
  color: black !important;
  border-radius: 10 !important;
  font-size: 15px !important;
}

.form-control .select:focus {
  box-shadow: #a7a7a7 !important;
}

/* padding  change */

.input-section {
  border-bottom: 1px solid gray !important;
  padding: 0px 0px 5px 0px;
}

.form-control::placeholder {
  color: rgb(165, 165, 165) !important;
}

.form-label {
  color: #ef9b28 !important;
}

.input-group-text {
  background-color: transparent !important;
  border: none !important;
  /* color: white !important; */
}

/* .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
} */

.bg-main {
  background-color: rgba(239, 155, 40, 1) !important;
}

/*--------------side bar------------*/


.btn-side {
  right: -16px;
  top: -50px;
  cursor: pointer;
  /* transition: all 0.3s !important; */
}

.collapse-btn {
  transform: translateX(27px) !important;
  padding: 8px;
  background: #f09a22;
  cursor: pointer;
  border-top-right-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
}

.out-btn {
  padding: 8px;
  background: #f09a22;
  cursor: pointer;
  border-top-left-radius: 8px 8px;
  border-bottom-left-radius: 8px 8px;
}

.css-dip3t8 {
  overflow: visible !important;

  background-color: transparent !important;
}

.firstIcon-sidebar {
  background-color: transparent !important;
}

.css-1wvake5 {
  border-right-style: none !important;
}

.home-sidebar {
  margin-top: 50px !important;
}

.bg-sidebar {
  background-color: #0e382f !important;
  font-size: large;
}

.bg-sidebar,
.ps-menu-button {
  color: white;
}

.ps-menu-root {
  background-color: #0e382f !important;
}

.ps-menu-button .active {
  background-color: #ef9b284d !important;
  color: #ef9b28 !important;
}

.bg-sidebar .ps-menu-button:hover {
  background-color: #ef9b284d !important;
  color: #ef9b28;
}

.css-gailc7>.ps-menu-button.active {
  border-left: 5px solid #ef9b28 !important;
}

/* .side .side-bar-container .ps-menuitem-root 
 */

/*New size*/
.logo-form-container img {
  width: 200px !important;
}

/* Style fix for auto complete inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #ffffff !important;
  border-radius: 8px;
  /* Adjust as needed */
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent !important;
}

/*--------Navbar---------*/

.nav-item .dropdown-menu {

  transform: translateX(-200px) !important;
  color: #a7a7a7 !important;
  margin-top: 20px !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 6px !important;
  cursor: pointer;
  color: #a7a7a7 !important;
  font-size: 20px !important;
  transform: translateX(-40px) !important;
}


.img-user {
  width: 50px !important;
}

/* #dropdown-basic{
  background-color: transparent !important;
  border: none !important;
  color: #A7A7A7;
 margin-top: 7px !important;
 font-size: 20px;
} */
.dropdown-item {
  color: #0e382f !important;
}

.ImgNavbar {
  cursor: pointer;
}

.light-text {
  color: rgba(0, 0, 0, 0.37);
  opacity: 73%;
  font-size: 13px;
}

/*reset*/
button:disabled {
  background-color: #e6b168 !important;
  border-color: #e6b168 !important;
}

button:disabled:hover {
  background-color: #e6b168 !important;
  border-color: #e6b168 !important;
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.btn-eye {
  color: white !important;
  border: none;
  background-color: transparent;
  padding: 0 !important;
  margin: 0 !important;
}

.input-group-text {
  border: none;
  box-shadow: none !important;
  /* outline: #414141 !important; */
  border-radius: 5px !important;
}

.input-group-text:focus {
  outline: 1px solid #fff !important;
}

.banner-container {
  font-family: "Montserrat", sans-serif !important;
  font-style: normal;
  padding: 40px 25px;
  color: white;
  background-image: url("./assets//home-bg.png");
  background-repeat: no-repeat;
  height: 350px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-position: center;
  gap: 30px;
  justify-content: center;
  border-radius: 20px;

  h1 {
    font-weight: 400 !important;
  }

  h2 {
    font-weight: 400 !important;
  }

  span {
    color: #ef9b28;
    text-transform: capitalize;
  }
}

/******shared****/


.dark-green {
  color: #0E382F !important;
}

.border-select:focus {
  border-color: #4f4f4f !important
}

.dashboard-section {
  background-color: #F8F9FB !important;
  margin-top: 20px !important;
  border-radius: 10px;
}

.title-components {
  color: #4f4f4f !important;
}

.bg-layout {
  background-color: #f5f5f5 !important;
}

.btn-login:focus {
  border: none !important;
  outline: none !important;
}

/* -------table-------- */
.pagination{
  flex-wrap: wrap !important;
 
}

.table>thead>tr>th {
  background-color: #315951e5 !important;
  opacity: 90% !important;
  padding: 15px 10px !important;
}

.border-bottom-width {
  border: none !important;
}


th {
  color: white !important;
  text-align: left !important;

  font-weight: 400 !important;
}

.table>tbody>tr>td {
  padding: 15px 10px 7px 10px !important;
  font-size: 14px !important;
  color: #4f4f4f !important;
}

.table>tbody>tr:nth-child(even)>td,
.table>tbody>tr:nth-child(even)>th {
  background-color: #f8f9fb !important;
}

table,
tr,
td,
th {
  border: none !important;
  color: white !important;
  text-align: left !important;

  font-weight: 400 !important;
}
/* ----userTask --*/
select option:hover,
    select option:focus,
    select option:active {
        background: linear-gradient(#000000, #000000);
        background-color: #000000 !important; /* for IE */
        color: #ffed00 !important;
    }

    
    select option:hover {
      color: #000; 
      box-shadow: inset 20px 20px rgb(66, 66, 70) ;
      background: #f00;
    }
    select option:checked {
        background: linear-gradient(#d6d6d6, #d6d6d6);
        background-color: #d6d6d6 !important; /* for IE */
        color: #000000 !important;
    }
.cards{

min-height: 24rem ;
  .bg-dark-green{
    background-color: #315951E5;
   opacity: 90%;
   padding-block: 50px;
   padding-inline: 14px;
  }
  .title{
    color:  #4F4F4F !important;
    font-weight: 500 !important;
    font-size: 22px !important;
    
  }
  .task{
  background-color: #ef9b28;
  padding-top: 16px;
  padding-inline: 16px;
  }






}

/*user*/

.Chevron {
  margin-top: 10px !important;
  cursor: pointer;
}

.dark-gary {
  color: #4F4F4F !important;

}

.fa-search {
  color: #4f4f4f !important;
}

.gray {
  color: black !important;
}

.page-link {
  color: #0e382f !important;
  cursor: pointer !important;
}

.fa-toggle-off,
.fa-toggle-on {
  cursor: pointer !important;
}

.btn-hover {
  pointer-events: none !important;
}

/* ----media-screen---- */


@media screen and (max-width: 600px) {

  .nav-item .dropdown-menu {
    transform: translateX(0) !important;
    width: 75%;
  }

  .nav-item {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }

  .navbar-toggler {
    margin-left: 20px;
  }

  .navbarNavDropdown {
    width: 75%;

  }

  .navbar-left {
    width: 52% !important;
  }
}

@media screen and (min-width: 610px) and (max-width: 768px) {
  .nav-item .dropdown-menu {
    transform: translateX(0) !important;
    width: 75%;
  }

  .nav-item {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }

  .navbar-toggler {
    margin-left: 20px;
  }

  .navbarNavDropdown {
    width: 75% !important;
  }

  .navbar-left {
    width: 60% !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .nav-item .dropdown-menu {
    transform: translateX(0) !important;
    margin-right: 10px;
  }

  .nav-item {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    font-size: 14px !important;
  }

  .dropdown-item {
    font-size: 14px !important;
  }

  .navbar-toggler {
    margin-left: 30px;
  }

  .navbar-left {
    width: 65% !important;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .navbarNavDropdown {
    width: 75% !important;
  }

  .navbar-left {
    width:68% !important;
  }



}

/* 
.form-control:focus {
  border-color: #ffffff !important;
} */

.profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.profile-pic-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.camera-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: rgba(239, 155, 40, 1);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  padding: 25px;
}

.bg-main {
  background-color: #ef9b28;
}

.w-fit {
  width: fit-content !important;
}

.viewBottom:hover {
  background-color: #6c757d !important;
}

/* .border-addInput:focus {
  border-color: #dee2e6 !important;
} */

.nav-item {
  font-size: 15px !important;
}


.nav-item {
  font-size: 15px !important;
}

/* >>>>>>>Stashed changes */