* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.3s all;
}

.landing-page {
  height: 100vh;
  background-image: url('./assets/first-page.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    transition: 0.3s all;
  }

  a:hover {
    text-decoration: none;
    color: #ef9b28;
    font-size: 24px;
  }
}

.form-layout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;

  a {
    text-decoration: none;
    color: white;

    transition: 0.3s all;
  }

  a:hover {
    color: #ef9b28 !important;
  }
}

.form-layout-card {
  background-color: rgba(49, 89, 81, 0.9);
  padding: 50px 70px !important;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  width: 100%;
}

.form-layout-title {
  font-size: 32px;
  color: #ef9b28;
  position: relative;
}

.form-layout-title::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #ef9b28;
  height: 5px;
  width: 18px;
}

.form-layout-description {
  margin-bottom: 0 !important;
}

.form-layout-button {
  display: block;
  width: 100%;
  padding: 15px 0px !important;
  background-color: #ef9b28 !important;
  color: #fff;
  text-decoration: none;
  border-radius: 25px !important;
  border: none !important;
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  transition: 0.3s all;
}

.form-layout-button:hover {
  background-color: #df860a !important;
}

.form-control {
  border: none !important;
  background-color: transparent !important;
  padding: 0px !important;
  color: white !important;
  border-radius: 0px !important;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: transparent !important;
  outline: none !important;
}

.input-section {
  border-bottom: 1px solid gray !important;
  padding: 0px 0px 15px 0px;
}

.form-control::placeholder {
  color: white !important;
}

.form-label {
  color: #ef9b28 !important;
}

.input-group-text {
  background-color: transparent !important;
  border: none !important;
  color: white !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.bg-main {
  background-color: rgba(239, 155, 40, 1) !important;
}